@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Regular.ttf') format('truetype');
}

body {
	font-family:'Raleway', sans-serif;
	position: relative;
	padding-top: 70px;
}

h1 {
	text-align: center;
}

.btn {
	border-radius: 0px;
}

/*
p {
	color: blue;
	font-size: medium;
	text-align: justify;
}
*/